{% extends 'base.html'%}
{% import 'macros.html' as macro %}


{% block content %}


<h1>NEWS API SEARCH<h1>

<div class="row">



  <div class="col-md-6">
      <h1>entertainment..</h1>
      <div>
      {% for source in entertainment %}
      <div class="card mb-4 box-shadow"></div>
          <a href="/articles/{{source.id}}">{{source.name}}</a>
        <div class="card-body">
          <p class="card-text small"> {{source.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>

</div>



  

<div class="row">
    <div class="col md-6">
  <h1>Health</h1>
  <div>
  {% for source in health %}
 
      <div class="card mb-4 box-shadow">
          <a href="/articles/{{source.id}}">{{source.name}}</a>
        <div class="card-body">
          <p class="card-text small"> {{source.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>

  <div class="col-md-6">
  <h1>General</h1>
  <div>
  {% for source in general %}
  <div class="card mb-4 box-shadow">
    <a href="/articles/{{source.id}}">{{source.name}}</a>
  <div class="card-body">
    <p class="card-text small"> {{source.description}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
      </div>
    </div>
  </div>
  </div>
  </div>
  {% endfor %}
</div>

</div>


<div class="row">


  <h1>Science</h1>
  <div>
  {% for source in science %}
  <div class="col-md-4">
  <div class="card mb-4 box-shadow">
      <a href="/articles/{{source.id}}">{{source.name}}</a>
    <div class="card-body">
      <p class="card-text small"> {{source.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endfor %}
</div>


  <h1>Science</h1>
  {% for source in science %}
  <div class="col-md-4">
  <div class="card mb-4 box-shadow">
      <a href="/articles/{{source.id}}">{{source.name}}</a>
    <div class="card-body">
      <p class="card-text small"> {{source.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endfor %}

</div>




{% endblock %}



      
      <!-- <div class="entertainment">
        <h1>entertainment</h1>
          {% for source in entertainment %}
          <div class="col-md-4">
          <a href="/articles/{{source.id}}">{{source.name}}</a>
          <p>{{source.description}}</p>
            </div>
          {% endfor %}
      </div>
      <div class="general">
        <h1>general</h1>
          {% for source in general %}
          <div class="col-md-4">
          <a href="/articles/{{source.id}}">{{source.name}}</a>
          <p>{{source.description}}</p>
            </div>
          {% endfor %}
      </div>
      <div class="health">
        <h1>health</h1>
          {% for source in health %}
          <div class="col-md-4">
          <a href="/articles/{{source.id}}">{{source.name}}</a>
          <p>{{source.description}}</p>
            </div>
          {% endfor %}
      </div>
      <div class="science">
        <h1>science</h1>
          {% for source in science %}
          <div class="col-md-4">
          <a href="/articles/{{source.id}}">{{source.name}}</a>
          <p>{{source.description}}</p>
            </div>
          {% endfor %}
      </div>

      <div class="sports">
        <h1>sports</h1>
          {% for source in sports %}
          <div class="col-md-4">
          <a href="/articles/{{source.id}}">{{source.name}}</a>
          <p>{{source.description}}</p>
            </div>
          {% endfor %}
      </div>

      <div class="technology">
        <h1>technology</h1>
          {% for source in technology %}
          <div class="col-md-4">
          <a href="/articles/{{source.id}}">{{source.name}}</a>
          <p>{{source.description}}</p>
            </div>
          {% endfor %}
      </div>
    </div>
      </div>
 -->